/* Base Styles - Mobile First */

/* General body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/Senderra_Background.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Main container styles */
.container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15px; /* Slightly reduced padding for mobile */
  border-radius: 8px; /* Slightly reduced border-radius for mobile */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  margin: 60px auto; /* Adjusted margin for better spacing on mobile */
  overflow: auto;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

/* Title styles */
.title {
  text-align: center;
  margin-bottom: 15px; /* Slightly reduced margin for mobile */
  font-size: 2em; /* Slightly smaller font size for mobile */
  color: #333;
}

/* Smooth scrolling for all browsers */
html {
  scroll-behavior: smooth;
}

/* Focus styles for accessibility */
:focus {
  outline: 2px dashed #2A9D8F;
  outline-offset: 2px;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 80px auto; /* Increase margin on larger screens */
  }

  .title {
    font-size: 2.5em; /* Increase font size for larger screens */
    margin-bottom: 20px;
  }
}
